@model ApplicationCore.Domain.Chanson

@{
    ViewData["Title"] = "CréerChanson";
}

<h1>CréerChanson</h1>

<h4>Chanson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CréerChanson">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChansonId" class="control-label"></label>
                <input asp-for="ChansonId" class="form-control" />
                <span asp-validation-for="ChansonId" class="text-danger"></span>
                
            </div>

           

            <div class="form-group">
                <label asp-for="DateSortie" class="control-label"></label>
                <input asp-for="DateSortie" class="form-control" />
                <span asp-validation-for="DateSortie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duree" class="control-label"></label>
                <input asp-for="Duree" class="form-control" />
                <span asp-validation-for="Duree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VuesYoutube" class="control-label"></label>
                <input asp-for="VuesYoutube" class="form-control" />
                <span asp-validation-for="VuesYoutube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StyleMusical" class="control-label"></label>
                <input asp-for="StyleMusical" class="form-control" />
                <span asp-validation-for="StyleMusical" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtisteFk" class="control-label"></label>
                <input asp-for="ArtisteFk" class="form-control" />
                <span asp-validation-for="ArtisteFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
